<%= stylesheet_link_tag params[:controller] %>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <caption>Listado de personajes</caption>
        <thead class="table-dark">
            <tr>
            <th>Nombre</th>
            <th>Poder</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Carisma</th>
            <th>Espiritu</th>
            <th>Habilidad especial</th>
            <th>Raza</th>
            <th>Tipo</th>
            <% if user_signed_in? %>
                <th>Estado</th>
                <th colspan="4"></th>
            <% else %>
                <th colspan="3"></th>
            <% end %>
            </tr>
        </thead>

        <tbody>
            <% @personajes.each do |personaje| %>
            <tr>
                <td><%= personaje.nombre %></td>
                <td><%= personaje.poder %></td>
                <td><%= personaje.ataque %></td>
                <td><%= personaje.defensa %></td>
                <td><%= personaje.carisma %></td>
                <td><%= personaje.espiritu %></td>
                <td><%= personaje.habilidad_especial.titleize %></td>
                <td><%= personaje.raza_personaje.descripcion %></td>
                <td><%= personaje.tipo_personaje.descripcion %></td>
                <% if user_signed_in? %>
                    <td><%= personaje.public_status %></td>
                    <td>
                        <% if personaje.publico_public_status? %>
                            <%= link_to "Cambiar a privado", personaje_path( personaje, {personaje: {public_status: "privado"}}), method: :patch, remote: true %>
                        <% else %>
                            <%= link_to "Cambiar a público", personaje_path( personaje, {personaje: {public_status: "publico"}}), method: :patch, remote: true %>
                        <% end %>
                    </td>
                <% end %>           
                <td><%= link_to 'Ver', personaje %></td>
                <td><%= link_to 'Editar', edit_personaje_path(personaje) %></td>
                <td><%= link_to 'Eliminar', personaje, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>