<p id="notice"><%= notice %></p>

<p>
  <strong>Poder:</strong>
  <%= @personaje.poder %>
</p>

<p>
  <strong>Ataque:</strong>
  <%= @personaje.ataque %>
</p>

<p>
  <strong>Defensa:</strong>
  <%= @personaje.defensa %>
</p>

<p>
  <strong>Carisma:</strong>
  <%= @personaje.carisma %>
</p>

<p>
  <strong>Espiritu:</strong>
  <%= @personaje.espiritu %>
</p>

<p>
  <strong>Habilidad especial:</strong>
  <%= @personaje.habilidad_especial_id %>
</p>

<%= link_to 'Edit', edit_personaje_path(@personaje) %> |
<%= link_to 'Back', personajes_path %>
