<div class="container mt-4 border">
  <div class="container-content">
    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Inició sesión como <strong><%= current_user.email %></strong>.
        <%= link_to 'Editar usuario', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% end %>
    </p>
    <h1 class="m-3">Whiteboard TGC</h1> 
    <div class="container m-3">
      <div class="row board-container">
        <div class="board">Bienvenido a la plataforma de Juegos de cartas intercambiables más interesante de Chile.</div> 
      </div>
    </div>
    <span>
      <%= link_to "Crear Personaje", new_personaje_path, :class => 'btn btn-lg btn-secondary' %>
      <%= link_to "Mis Personajes", personajes_path, :class => 'btn btn-lg btn-primary' %>
      <% if !user_signed_in? %>
        <%= link_to "Iniciar sesión", new_user_session_path, :class => 'btn btn-lg btn-success'  %> |
        <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %>
      <% end %>
    </span>
  </div>
</div>